
.adminButtonsContainer {
    padding-left: 24px;
    display: flex;
    margin-right: auto;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.adminButtonsContainer .Button {

    display: inline-flex;
    padding: 0;
    width: auto;
    height: auto; 
    align-items: center; 
    justify-content: center;

}