.sidebarContainer {
    display: flex;
    flex-direction: column;
    background-color: #383836; 
    height: auto; 
    width:calc(15vw);
    margin-left: auto;
}

.sidebarContainer .header {

    padding-left:1vw;
}
