/* Navbar */
.navbar {
    padding: 2px 2px;
    overflow: hidden;
    text-align: center;
    font-size: 25px;
    background-color: #2C2C2C;
    display:flex;
    width: 100%;
}

.navbar .logoContainer {
padding-right: 33vw;
background-color: #000000d;
height: 10vh;
}

/* Hover highlighter on bar */
.navbar:hover{
    background-color: #0000001a;
}

/* Background colour on buttons */
.navbar_button {
    background-color: #0000000d;
}

/* Hover highlighter on buttons */
.navbar_button:hover{
    background-color: #9A9FA7;
}

.navbar .navbarItem {
padding-right: calc(1vw/2);
height: 10vh;
}
