/* Navbar */
.navbar {
    padding: 2px 2px;
    overflow: hidden;
    text-align: center;    
    display:flex;
    width: 100%;
    height: calc(8vh);
}

.navbar .logoContainer {
margin-right: auto;
height: 10vh;
}

/* Hover highlighter on bar */
.navbar:hover{
    background-color: #0000001a;
}

/* Background colour on buttons */
.navbar_button {
    color: #CCCCCC;
    padding: 1vw 1vw 1vw 1vw;
    background-color: #0000000d;
    font-size: 24px;
}

/* Hover highlighter on buttons */
.navbar_button:hover{
    background-color: #9A9FA7;
}

.navbar .navbarItem {
padding-right: calc(1vw/2);
height: 10vh;
}
