/* The entire container */
.sidebar {
    background-color: #383836;
    width:calc(15vw);
    height:auto;
    float: right;
    padding-top: 2vh;
    padding-bottom: calc(2vh);
}


/* Selife */
.self_photo {
    width:calc(13vw);
    
    text-align: center;
}

/* Selfie Divider*/
.handsomeManContainer {
    text-align: center;
    padding-bottom: 2vh;
}





/* Socials */
.socials {
    width: calc(13vw);
    padding-left: 1vw;
    padding-right: 1vw;
}

/* Icon and text wrappers */
.socials div {
    display:flex;
    height:calc(4vh);
    padding-top: calc(1vh);
    overflow: hidden;
}
.socials div:hover {
    background-color: #9A9FA7;
}

/* Socials - Icons */
.socials img {
    width: calc(2vw);
    height: calc(2vw);
    float: left;
    padding-left: 5px;
    flex:0;
    margin-right:calc(2vw)
}

/* Socials - Plain text */
.socials p {
    font-size: 8pt;
    padding-right: 1vw;
    white-space: nowrap;
    flex: 1;
    color: #CCCCCC;
    text-overflow: ellipsis;
    float: right;
    text-align: right;
}






/* Core skills section */
.coreSkillsSection {
    display: block;
    padding-left: calc(1vw);
    padding-right: calc(1vw);
    width: calc(13vw);
    text-align: left;
    justify-content: center;
    
}
.coreSkillsSection p {
color: #CCCCCC;
}

.coreSkill {
    max-width: calc(4vw);
}

.skillDivider {
    width: calc(2vw);
}

.skillItem {
    width: 100%;
    display: flex;
    margin: 0 0;
    color: #CCCCCC;
    font-size: 10pt;
}

.skillItem:hover {
    background-color: #9A9FA7;
}

.skillItem:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.skillProgressBar {
    display: flex;
    position: absolute;
    right: calc(2vw);
    width: calc(4vw);
    background-color: #e0e0e0;
    border-radius: 5%;
    overflow: hidden;
    height: 15px;
}

.skillFill {
    height: 100%;
    background-color: #9A9FA7;
}
.skillProgressBar i {
    position: absolute;
    right: 0%;
    text-align: right;
    font-size: 9pt;
    color: black;
}


.tooltip {
    visibility: hidden;
    padding: 10px 10px;
    background-color: #000000;
    color: #CCCCCC;
    text-align: left;
    border-radius: 5px;
    position: absolute;

    inline-size: 20%;
    white-space: pre-wrap;
    right: 16%;
    opacity: 0;
}

.tooltip::before {
    content: '';
    position: absolute;
    border:8px solid #383836;
    border-width: 4px,4px, 4px, 0;
    border-color: transparent transparent transparent #383836;
    right: -14px;
    top: 0%;
}
