<!-- Blazejowski, G. 2024 -->

<!DOCTYPE html>
<html>

    <!-- Initialization -->
    <head>
        

        <!-- Load static content -->
        {% load static %}

        <meta charset="UTF-8">
        <title> Home </title>

        <!-- Initialize Viewport-->
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
        
        <!-- Initialize Navbar -->
        <div class="navbar">
    
            <div  class="logoContainer">

                <a href="https://google.com/">
                    <img id="logo" src="{% static 'assets/logo_transparent.png' %}" class="logo" />
                </a>
            </div>
        
            <div class="navbarItem">
                <a href="https://google.com/"></a>
                    <button class="navbar_button">
                        Home
                    </button>
                </a>
            </div>
        
            <div class="navbarItem">
                <a href="https://google.com/">
                <button class="navbar_button">
                    Projects
                </button>
                </a>
            </div>
        
            <div class="navbarItem" >
                <a href="https://google.com/">
                <button class="navbar_button">
                    Experience
                </button>
                </a>
            </div>
        
            <div class="navbarItem">
                <a href="https://google.com/">
                <button class="navbar_button">
                    Blog
                </button>
                </a>
            </div>
        
            <div class="navbarItem">
                <a href="https://google.com/">
                <button class="navbar_button">
                    Contact
                </button>
                </a>
            </div>
        </div>

    </head>

    
    
    
    <!-- Body -->
    <body class="body">

        <!-- Second background -->
        <div class="columns">

            <div class="background"> </div>

            <div class="textContainer"> 
                {% block textContent %}

                {% endblock %}
            </div>
            <div class="sidebar"> 
                {% block sidebarContent %}

                {% endblock %}
            </div>
        </div>
        
  
    </body>


    <!-- Footer -->
    <footer>
    <div id="footer" class="footer">
        All mine

        <!-- Load stylesheets -->
        <link rel="stylesheet" href="{% static 'styles/template/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'styles/template/footer.css' %}">
        <link rel="stylesheet" href="{% static 'styles/template/background.css' %}">
        <link rel="stylesheet" href="{% static 'styles/template/body.css' %}">
        <link rel="stylesheet" href="{% static 'styles/template/textContainer.css' %}">
        <link rel="stylesheet" href="{% static 'styles/template/logo.css' %}">
        {% block styles %}

        {% endblock styles %}
    </div>
    


</footer>
</html>

