<!DOCTYPE html>
<html style="display: block">

    <!-- Initialization -->
    <head id="head">

        <!-- Load static content -->
        {% load static %}

        <meta charset="UTF-8">
        <title> Home </title>

        <!-- Initialize Viewport-->
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">
        
        <!-- Initialize Navbar -->
        <div id="navbar" class="navbar">
    
            <div id="logoContainer" class="logoContainer">
                <img id="logo" src="{% static 'assets/logo_transparent.png' %}" class="logo" />
            </div>
        
            <div id="homeButton" class="navbarItem">
                <a href="/">
                    <button class="navbar_button">
                        Home
                    </button>
                </a>
            </div>
        
            <div id="projectsButton" class="navbarItem">
                <a href="/projects">
                <button class="navbar_button">
                    Projects
                </button>
                </a>
            </div>
        
            <div id="experienceButton" class="navbarItem" >
                <a href="/experience">
                <button class="navbar_button">
                    Experience
                </button>
                </a>
            </div>
            
            <div id="blogButton" class="navbarItem">
                <a href="/blog">
                <button class="navbar_button">
                    Blog
                </button>
                </a>
            </div>
        
            
            <div id="contactButton" class="navbarItem" style="margin-left: auto; margin-right: calc(1vw);">
                <a href="/contact">
                <button class="navbar_button">
                    Contact
                </button>
                </a>
            </div>
        </div>

    </head>
    
    <!-- Body -->
    <body id="body" class="body">
        <!-- Second background -->
        <div class="columns">
            <div id="background" class="background"> </div>
            <div id="textContainer" class="textContainer">
                {% block textContent %}
                {% endblock %}
            </div>

            <div id="sidebar" class="sidebar">
                <button id="foldButton" class="foldButton" onclick="toggleFold()"> 
                    >
                </button>

                <div id="sidebarContainer" class="sidebarContainer">
                    
                    {% block sidebarContent %}
                    {% endblock %}

                </div>    
            </div>
        </div>
    </body>

    <!-- Footer -->
    <footer id="footer" class="footer">
        

        All mine circa 2024

        
        
        {% block styles %}

        {% endblock styles %}

        
    </footer>

    <!-- Load stylesheets -->
    <link rel="stylesheet" href="{% static 'styles/template/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'styles/template/footer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/template/background.css' %}">
    <link rel="stylesheet" href="{% static 'styles/template/body.css' %}">
    <link rel="stylesheet" href="{% static 'styles/template/textContainer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/template/columns.css' %}">
    <link rel="stylesheet" href="{% static 'styles/template/sidebar.css' %}">

    <script src="{% static 'js/template/sidebarButton.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/template/verticalView.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        isVertical();
    </script>

</html>

