{% extends 'app1/pages/blank.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/blog/buttons.css' %}">
{% endblock styles %}

{% block textContent %}

    <div id="Title">
        <h1 style="display:inline-flex;"> 
            {{ Title }}

            <div class="adminButtonsContainer">
                <button class="Button" onclick="toggleEditForm(this)">
                    <img style="padding:0" src="{% static 'assets/icons/edit_icon.svg' %}" >
                </button>
                <button class="Button">
                    <img style="padding:0" src="{% static 'assets/icons/trash_icon1.svg' %}" >
                </button>
            </div>

        </h1>
    </div>

    
    <div id="Rating">
        <h3 style="display:inline-flex;">
            {{ Rating }} / 5

            <div class="adminButtonsContainer">
                <button onclick="toggleEditForm(this)"  class="Button">
                    <img style="padding:0" src="{% static 'assets/icons/edit_icon.svg' %}" >
                </button>
                <button class="Button">
                    <img style="padding:0" src="{% static 'assets/icons/trash_icon1.svg' %}" >
                </button>
            </div>

        </h3>
    </div>


    <p> {{ Pictures }} </p>
    
    <div id="Paragraph">
        <div style="display:flex;"> 
            {{ Paragraph }}

            <div class="adminButtonsContainer">
                <button onclick="toggleEditForm(this)"  class="Button">
                    <img style="padding:0" src="{% static 'assets/icons/edit_icon.svg' %}" >
                </button>
                <button class="Button">
                    <img style="padding:0" src="{% static 'assets/icons/trash_icon1.svg' %}" >
                </button>
            </div>

        </div>
    </div>



    


    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function () {
            var textContainerTag = document.getElementsByClassName("textContainer")[0];
            textContainerTag.id = "{{ ID|escapejs }}";
        });
    </script>

<script>
    function toggleEditForm(button) {
        var form = document.getElementById('editForm');

        var table = "Blog";
        var column = button.closest("div").parentElement.parentElement.id;
        var ID = "{{ ID|escapejs }}";
        console.log(column);


        form.querySelector('input[name="table"]').value = table;
        form.querySelector('input[name="column"]').value = column;
        form.querySelector('input[name="ID"]').value = ID;


        if (form.style.display === 'none' || form.style.display === '') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    }
</script>
        

<div id="editForm" style="display: none;">
    <form method="POST" action="{% url 'update' %}">
        {% csrf_token %}
        <input type="text" name="new_value" placeholder="Enter new title" required style="margin-top:0;">
        
        <input type="hidden" name="ID" value="">
        <input type="hidden" name="table" value="">
        <input type="hidden" name="column" value="">

        <button type="submit">Confirm</button>
    </form>
</div>

    {{ text }}
{% endblock %}


{% block sidebarContent %}
    


{% endblock %}