{% extends 'app1/pages/blank.html' %}

{% load static %}
{% block textContent %}

    <div id="Title">
        <h1 style="display:inline-flex;"> 
            {{ Title }}
            <div style="display: flex; flex-direction: column;">
                <button style="display: inline-flex; padding: 0; width: auto; height: auto; align-items: center; justify-content: center;">
                    <img style="padding:0" src="{% static 'assets/icons/edit_icon.svg' %}" >
                </button>

                <button style="display: inline-flex; padding: 0; width: auto; height: auto; align-items: center; justify-content: center;">
                    <img style="padding:0" src="{% static 'assets/icons/trash_icon1.svg' %}" >
                </button>
            </div>
        </h1>
    </div>

    
    <div id="Rating">
        <h3 style="display:inline-flex;"> {{ Rating }} / 5 
            <div style="display: flex; flex-direction: column;">
                <button style="display: inline-flex; padding: 0; width: auto; height: auto; align-items: center; justify-content: center;">
                    <img style="padding:0" src="{% static 'assets/icons/edit_icon.svg' %}" >
                </button>
            
                <button style="display: inline-flex; padding: 0; width: auto; height: auto; align-items: center; justify-content: center;">
                    <img style="padding:0" src="{% static 'assets/icons/trash_icon1.svg' %}" >
                </button>
            </div>
        </h3>
    </div>


    <p> {{ Pictures }} </p>
    
    <div id="Paragraph" style="display:flex;">
        {{ Paragraph }}

        <div style="display: flex; flex-direction: column;">
            <button style="display: inline-flex; padding: 0; width: auto; height: auto; align-items: center; justify-content: center;">
                <img style="padding:0" src="{% static 'assets/icons/edit_icon.svg' %}" >
            </button>
        
            <button style="display: inline-flex; padding: 0; width: auto; height: auto; align-items: center; justify-content: center;">
                <img style="padding:0" src="{% static 'assets/icons/trash_icon1.svg' %}" >
            </button>
        </div>
    </div>



    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function () {
            var textContainerTag = document.getElementsByClassName("textContainer")[0];
            textContainerTag.id = "{{ ID|escapejs }}";
        });
    </script>
        

    {{ text }}
{% endblock %}


{% block sidebarContent %}
    


{% endblock %}