{% extends 'app1/pages/blank.html' %}
{% load static %}
{% load markdownify %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/home/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home/overlay.css' %}">

{% endblock styles %}


{% block textContent %}

{{ textContent|markdownify|linebreaksbr }}


{% endblock %}


    {% block sidebarContent %}
    <script src="{% static 'js/index/adminButtonsFactory.js' %}"></script>
    <script src="{% static 'js/index/editItem.js' %}"></script>

    <!-- SELFIE -->
    <div class="handsomeManContainer">
        <img src="{% static 'assets/handsome_man.png' %}" class="self_photo" id="selfie" /> <br />
        <script type="text/javascript">
            var imgTag = document.getElementById("selfie");
            imgTag.src = "{% static '/assets/' %}" + "{{ picture }}";
        </script>
    </div>



    <div id="socials" class="socials">
        <!-- SOCIALS -->

        <script type="text/javascript">
            const staticUrls = {
                editIcon: "{% static 'assets/icons/edit_icon.svg' %}",
                trashIcon: "{% static 'assets/icons/trash_icon1.svg' %}"
            };
        </script>
        <script type="text/javascript">

            var socials = document.getElementById("socials");
            const socialsDict = {{ socials|safe }};

            for (const [key, value] of Object.entries(socialsDict))
            {
                for (const [icon, src] of Object.entries(value))
                {
                    const { editItemButton, removeItemButton } = createAdminButtons();
                    editItemButton.setAttribute("data-categoryID", key);
                    editItemButton.onclick = function() {
                        event.preventDefault();
                        event.stopPropagation();
                        editSocialItem(this);
                    }
                    removeItemButton.setAttribute("data-categoryID", key);

                    var aTag = document.createElement("a");
                    aTag.href = src;

                    // SOCIAL Container
                    var socialContainer = document.createElement("div");
                    socialContainer.id = "socialContainer";
                    socialContainer.className = "socialContainer";

                    var imgTag = document.createElement("img");
                    imgTag.id = "socialIcon";
                    imgTag.src = "{% static '/assets/icons/' %}" + icon;

                    var pTag = document.createElement("p");
                    pTag.id = "socialText";
                    pTag.textContent = key;

                    socialContainer.appendChild(imgTag);
                    socialContainer.appendChild(pTag);
                    socialContainer.appendChild(editItemButton);
                    socialContainer.appendChild(removeItemButton);

                    aTag.appendChild(socialContainer);

                    socials.appendChild(aTag);
                }
            } 
        </script>


    </div>


    <div id="skills" class="skills">
        <!-- SKILLS -->
        <script type="text/javascript">

            var skillsContainer = document.getElementById("skills");

            var skills = {{ skills|safe }};

            for( const [CategoryKey, value] of Object.entries(skills))
            {

                const { editItemButton, removeItemButton } = createAdminButtons();
                editItemButton.setAttribute("data-categoryID", CategoryKey);
                editItemButton.onclick= function () {
                    editSkillCategory(this);
                };
                removeItemButton.setAttribute("data-categoryID", CategoryKey);

                // SKILL Container
                var skillCategoryContainer = document.createElement("div");
                skillCategoryContainer.id = "skillCategoryContainer";
                skillCategoryContainer.className = "skillCategoryContainer";


                var skillCategoryCaption = document.createElement("p");
                skillCategoryCaption.id = "skillCategoryCaption";
                skillCategoryCaption.className = "skillCategoryCaption";
                skillCategoryCaption.textContent = CategoryKey;

                var categoryDivider = document.createElement("hr");
                categoryDivider.className = "skillDivider";
                
                skillCategoryContainer.appendChild(skillCategoryCaption);
                skillCategoryContainer.appendChild(editItemButton);
                skillCategoryContainer.appendChild(removeItemButton);

                skillsContainer.appendChild(skillCategoryContainer);
                skillsContainer.appendChild(categoryDivider);


                for ( const [skillName, skillProgressValue] of Object.entries(value))
                {
                    const { editItemButton, removeItemButton } = createAdminButtons();
                    editItemButton.setAttribute("data-categoryID", CategoryKey);
                    editItemButton.onclick= function () {
                        editSkillItem(this);
                    };
                    removeItemButton.setAttribute("data-categoryID", CategoryKey);

                    var skillItemContainer = document.createElement("div");

                    var skillItem = document.createElement("div");
                    var skillItemCaption = document.createElement("p");
                    skillItemCaption.id = "skillItemCaption";
                    skillItemCaption.className = "skillItemCaption";
                    skillItemCaption.textContent = skillName;

                    //skillItem.textContent = skillName;

                    skillItem.id = "skillItem";
                    skillItem.className = "skillItem";

                    var skillBar = document.createElement("div");
                    skillBar.className = "skillBar";

                    var skillProgress = document.createElement("div");
                    skillProgress.className = "skillProgress";
                    skillProgress.id = "skillProgress";
                    skillProgress.style.width = `${skillProgressValue}%`;

                    skillBar.appendChild(skillProgress);
                    skillItem.appendChild(skillItemCaption);
                    skillItem.appendChild(skillBar);
                    skillItem.appendChild(editItemButton);
                    skillItem.appendChild(removeItemButton);
                    
                    skillsContainer.appendChild(skillItem);
                }

            }
        </script>
        <button id="addNew"> + </button>
    </div>

    <script type="text/javascript">
        function destroyOverlay(overlay)
        {
            overlay.style.display = 'none';
            document.getElementById("form").innerHTML = "";

        }

    </script>

    <div id="formOverlay" class="formOverlay" style="display:none" onclick="destroyOverlay(this)">
        <div id="formContainer" class="formContainer" onclick="event.stopPropagation();">
            <form id="form" class="form" method="POST" action="">


            </form>   
        </div>
    </div>
    

    {% endblock sidebarContent %}

